<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <Div class="row">
        <div class="col-sm-12">
          <div class="map-wrapper">
            <h1>Map goes here</h1>
          </div>
        </div>
      </Div>
      <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="ps-dashboard-block ps-device-block">
              <div class="dashboard-icons">
                <img class="img-responsive center-block" src="../../assets/images/water-pump.png">
              </div>
              <h1>Total Device</h1>
              <p>XXXXXXX</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="ps-dashboard-block ps-users-block">
                <div class="dashboard-icons">
                  <img class="img-responsive center-block" src="../../assets/images/user.png">
                </div>
                  <h1>Total Users</h1>
                  <p>XXXXXXX</p>
              </div>
          </div> 
          <div class="col-sm-6 col-md-3">
            <div class="ps-dashboard-block ps-power-block">
              <div class="dashboard-icons">
                <img class="img-responsive center-block" src="../../assets/images/solar-energy.png">
              </div>
              <h1>Solar Power Generated</h1>
              <p>XXXXXXX Watts  </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="ps-dashboard-block ps-output-block">
                <div class="dashboard-icons">
                  <img class="img-responsive center-block" src="../../assets/images/water-drop.png">
                </div>
                <h1>Total Water Output</h1>
                <p>XXXXXXX Litres</p>
              </div>
          </div> 
      </div> 
    </div>
  </div>
</div>