<div class="ps-right-section">
  <div class="ps-pumpslist-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="ps-page-header">Pumps list</h1>                    
            </div>                 
        </div>
        <div class="ps-datatable-block">
            <div class="row">           
                <div class="col-sm-6">
                    <div class="ps-search-block">
                        <label>Search by Pump Name</label>
                        <input type="text" class="form-control" />
                    </div>               
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-primary ps-add-btn pull-right" data-toggle="modal" data-target="#exampleModal">Add New Pump</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                        <div class="table-responsive ps-table-block">
                                <table class="table  table-bordered">
                                    <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Pump ID</th>
                                        <th>Site ID</th>  
                                        <th>Capacity</th>                            
                                        <th>Customer Name</th>  
                                        <th>Phone number</th>  
                                        <th>Assigned To</th>   
                                        <th>Status</th>  
                                        <th class="ps-actions-col">Actions</th>               
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>10</td>
                                            <td>100</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="ps-actions-col">
                                                <a href="#" class="ps-action-btn ps-action-edit" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                                                <a href="#" class="ps-action-btn ps-action-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </td>                  
                                        </tr>    
                                        <tr>
                                            <td>2</td>
                                            <td>10</td>
                                            <td>100</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="ps-actions-col">
                                                    <a href="#" class="ps-action-btn ps-action-edit" data-toggle="modal" data-target="#exampleModal">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                                                    <a href="#" class="ps-action-btn ps-action-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </td>
                                        <tr>
                                            <td>3</td>
                                            <td>10</td>
                                            <td>100</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="ps-actions-col">
                                                    <a href="#" class="ps-action-btn ps-action-edit" data-toggle="modal" data-target="#exampleModal">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                                                    <a href="#" class="ps-action-btn ps-action-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </td>  
                                        </tr>                                         
                                    </tbody>
                                </table>
                            </div>
                </div>
            </div> 
        </div>
    </div>
  </div>
</div>