<div class="ps-right-section">
  <div class="ps-pumpslist-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="ps-page-header">Pumps list</h1>                    
            </div>                 
        </div>
        <div class="ps-datatable-block">
            <div class="row">           
                <div class="col-sm-6">
                    <div class="ps-search-block">
                        <label>Search by Pump Name</label>
                        <input type="text" class="form-control" />
                    </div>               
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-primary ps-add-btn pull-right" data-toggle="modal" data-target="#exampleModal">Add New Pump</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                        <div class="table-responsive ps-table-block">
                                <table class="table  table-bordered">
                                    <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Pump ID</th>
                                        <th>Site ID</th>  
                                        <th>Capacity</th>                            
                                        <th>Customer Name</th>  
                                        <th>Phone number</th>  
                                        <th>Assigned To</th>   
                                        <th>Status</th>  
                                        <th class="ps-actions-col">Actions</th>               
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pump of pumps; let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ pump.pump_no }}</td>
                                            <td>100</td>
                                            <td>122</td>
                                            <td>{{ pump.customer_name }}</td>
                                            <td>{{ pump.phone }}</td>
                                            <td>Admin</td>
                                            <td>{{ pump.status }}</td>
                                            <td class="ps-actions-col">
                                                    <a class="ps-action-btn ps-action-edit" data-toggle="modal" data-target="#exampleModal" style="font-size:11px!important">
                                                        <!-- <i class="fa fa-pencil" aria-hidden="true" style="font-size:10px!important"></i> -->
                                                        Edit
                                                    </a> 
                                                    <a (click)="removePump(pump)" class="ps-action-btn ps-action-delete" style="font-size:11px!important">
                                                        <!-- <i class="fa fa-trash-o" aria-hidden="true">Remove</i> -->
                                                        Remove
                                                    </a>
                                            </td>                    
                                        </tr>                                 
                                    </tbody>
                                </table>
                            </div>
                </div>
            </div> 
        </div>
    </div>
  </div>
</div>