<div class="ps-right-section">
  <div class="ps-settings-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="ps-page-header">User Details</h1>                    
            </div>                 
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="ps-user-lable"> Latitude :  </p>       
            </div> 
            <div class="col-sm-4">
                <p class="ps-user-lable"> Longitude:  </p>       
            </div> 
            <div class="col-sm-4">
                <p class="ps-user-lable"> Address :  </p>       
            </div>                 
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="ps-page-header">Pump Details</h1>                    
            </div>   
            <div class="col-sm-3">
                <p class="ps-user-lable mar-t-10"> Local Date:  </p> 
            </div> 
            <div class="col-sm-3">
                <p class="ps-user-lable mar-t-10"> Local Time:  </p> 
            </div>              
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="ps-pump-status">
                    <p>Status :
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> ON
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> OFF
                        </label>
                    </p>
                        <p>Mode :
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Auto
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Manual
                            </label>
                        </p>
                </div>
            </div>   
            <div class="col-sm-4">
                <div class="ps-energy-block">
                    <p>Total Solar Energy Today graph here</p>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="ps-energy-block">
                    <p>Total Water Output Today graph here</p>
                </div>
            </div>               
      </div> 
      <div class="row">
            <div class="col-sm-12">
                <h2 class="ps-subhead">Last Updated Record</h2>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Pump ID</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Solar Voltage</th>
                                <th>Solar Current</th>
                                <th>Solar Power</th>
                                <th>Solar Output</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>123456</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>10 Watts</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
      </div>            
    </div>
  </div>
</div>