<div class="ps-left-navbar">
  <ul class="ps-left-navbar-menu">
    <li class="ps-left-navbar-item"><a [routerLink]="['/dashboard']" href="dashboard.html" class="active" title="DashBoard">DashBoard</a> </li>
    <li class="ps-left-navbar-item"><a [routerLink]="['/pumps']" href="pumps" title="Pumps">Pumps</a></li>
    <li class="ps-left-navbar-item"><a href="#" title="Site Manager">Site Manager</a></li>
    <li class="ps-left-navbar-item"><a href="#" title="User">User</a></li>
    <li class="ps-left-navbar-item"><a [routerLink]="['/settings']" href="" title="Settings">Settings</a></li>
    <li class="ps-left-navbar-item"><a class="dropdown-list-menu" id="dropdown-menu">List of Pumps
       <span class="menuvalue">15</span>
       <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i></a></li>
    <li class="ps-left-navbar-item" id="dropdown-list-wrapper">
        <ul class="dropdown-list" >
          <li><a [routerLink]="['./details/1']" href="" class="secondary-menu">Pump1</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump2</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump3</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump4</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump5</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump6</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump7</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump8</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump9</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump10</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump11</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump12</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump13</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump14</a></li>
          <li><a href="pumps-list.html" class="secondary-menu">Pump15</a></li>
        </ul>
    </li>
  </ul>
</div>