/*-->
CUSTOM FONTS
<--*/

@import '~bootstrap/dist/css/bootstrap.min.css';

/*
@font-face {
    font-family: 'opensanslight';
    src: url('./assets/fonts/opensans-light-webfont.eot');
    src: url('./assets/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('./assets/fonts/opensans-light-webfont.woff') format('woff'),
         url('./assets/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('./assets/fonts/opensans-light-webfont.svg#opensanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensansregular';
    src: url('./assets/fonts/OpenSans-Regular.eot');
    src: url('./assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),         
         url('./assets/fonts/OpenSans-Regular.woff') format('woff'),
         url('./assets/fonts/OpenSans-Regular.ttf') format('truetype'),
         url('./assets/fonts/OpenSans-Regular.svg#opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensanssemibold';
    src: url('./assets/fonts/opensans-semibold-webfont.eot');
    src: url('./assets/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('./assets/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('./assets/fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('./assets/fonts/opensans-semibold-webfont.svg#opensanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensansbold';
    src: url('./assets/fonts/opensans-bold-webfont.eot');
    src: url('./assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/opensans-bold-webfont.woff') format('woff'),
         url('./assets/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('./assets/fonts/opensans-bold-webfont.svg#opensansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
body{font-size: 14px; color: #484646;font-family: 'Arial';
    /* font-family: 'opensansregular'; */
}
a,a:hover,a:focus {text-decoration: none;color:#428bca;}
.btn {display: inline-block; padding: 8px 20px;font-weight: 600;font-size: 16px; }
.ps-action-btn {display:inline-block;padding:4px;text-align: center;border-width:1px;border-style:solid;width:50px;
height:32px;font-size:18px;line-height: 24px;margin-right:10px;border-radius: 6px;}
hr{margin:10px 0;}
.mar-t-0 {margin-top:0px;}
.mar-t-10 {margin-top:10px;}


/* Header css starts here */
header { position: fixed;top: 0;left: 0;right: 0; width: 100%;z-index: 1999;}
.navbar {margin-bottom: 0;padding: 12px 0;border-radius: 0;}
.navbar-brand {height: auto; padding: 0 15px;}
.navbar-brand img {max-width: 160px;}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>li.dropdown>a, .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {color: #428bca;font-size: 18px;
        background-color: transparent;font-weight: bold; }
.dropdown-menu>li>a {font-size:16px;padding:2px 20px;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {background: rgba(215, 215, 215,1);}       

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {right: 15px;}
}

/* Left navbar css starts here */
.ps-left-navbar {width: 220px; /* border-right: 1px solid green; */
    padding: 0;background: #428bca;    /* min-height:400px; */
    height: calc(100vh - 78px); position: fixed; top: 78px;left: 0;}
.ps-left-navbar-menu {padding: 0;}
.ps-left-navbar-item {list-style: none; display: block;}
.ps-left-navbar-item a {position:relative;font-size: 18px;color: #fff;padding:15px 18px;display: block;line-height: 18px;border-bottom: 1px solid #0e9aef;text-decoration: none;background: rgba(65,141,179,1);}
.ps-left-navbar-item a:hover,
.ps-left-navbar-item a:focus,
.ps-left-navbar-item a.active,
.ps-left-navbar-item a.active:hover,
.ps-left-navbar-item a.active:focus {text-decoration: none;background: #0e9aef;border-left:4px solid #fff;transition:all 0.25s;}
ul.dropdown-list {
    height: calc(100vh - 372px);
    overflow-y: auto;
    padding:0;
    margin: 0;
    list-style: none;
}
.dropdown-list li {display: block;}
.dropdown-list li a {display: block;font-size: 14px;color: #fff;padding:8px 18px 8px 30px;
    line-height: 16px;}
#dropdown-list-wrapper {display: none;}
.dropdown-list-menu {cursor: pointer;}    
span.menuvalue {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    margin: 0 8px;
    vertical-align: middle;
    font-size: 17px;
    font-weight: bold;
    color: rgba(65,141,179,1);
    background: #fff;
    position: absolute;
    top: 6px;
    right: 35px;
}

.dropdown-list-menu .fa {line-height: 20px;transform: rotate(90deg);transition: transform 0.5s;}
.dropdown-list-menu.opened .fa {line-height: 20px;transform: rotate(-90deg);transition: transform 0.5s;}


/* *  Custome scrollbar css  */
.dropdown-list::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 .dropdown-list::-webkit-scrollbar  {
     width: 12px;
     background-color: #F5F5F5;
 }
 
 .dropdown-list::-webkit-scrollbar-thumb  {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #555;
 }
 

/* Dashboard page css starts here */
.ps-main-section {margin-top:78px;}
.ps-dashboard-sec {padding:30px 0;}
.ps-dashboard-block {
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    margin: 30px auto;
    display: flex;
    padding: 10px;
    box-shadow: 1px 0px 8px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 225px;
}
.ps-dashboard-block h1{font-size:16px;margin:0;line-height: 24px;color:#000;}
.ps-dashboard-block p {font-size:21px;color:#000;font-weight: bold;line-height: 28px;margin:0;}
.ps-right-section {width: calc(100% - 220px);margin-left: 200px;padding: 20px;}

.map-wrapper {
    width:100%;
    border:1px solid #ebebeb;
    text-align: center;
    margin-bottom: 40px;
    min-height: 250px;
}
/*.ps-device-block {
    background: #ffcc00;
}
.ps-users-block {
    background: #ff9900;
}
.ps-power-block {
    background: #aecf00;
}
.ps-output-block {
    background: #cc9900;
}
*/

.ps-device-block p {
    color: #ffcc00;
}
.ps-users-block p {
    color: #aa0000;
}
.ps-power-block p {
    color: #fed229;
}
.ps-output-block p {
    color: #00aad4;
}


.dashboard-icons {
    margin-bottom: 20px;
}
.dashboard-icons img {
    max-width: 100px;
}

/* Pumps page css starts here  */

h1.ps-page-header {margin: 0 0 25px;font-size: 30px;}
.ps-datatable-block {padding:10px 0;}
.ps-datatable-block .btn {margin-top:20px;}
.ps-table-block {margin-top:25px;}
.ps-actions-col {text-align: center;}

/* Settings page css starts here */

.ps-setting-table th {padding: 10px 10px 10px 25px; background: #cfcfcf;color: #000;font-size: 18px;vertical-align: middle}
.ps-setting-table td {font-size: 15px;padding:10px;}
.ps-setting-table td:last-child {text-align: center;}

/* Custom toggling button css here */
.switch {position: relative;display: inline-block;width: 60px;height: 32px;margin:0;border:1px solid rgba(0,0,0,0.2); }  
.switch input {display:none;}  
.slider {position: absolute; cursor: pointer;top: 0;left: 0;right: 0;bottom: 0; background-color: #ececec;-webkit-transition: .4s;transition: .4s; }
.slider:before {position: absolute;content: "OFF";font-size:12px;line-height:26px;border-radius: 2px;text-align:center;
    color: #2196F3;height: 26px;width: 30px;left: 2px;bottom: 2px;background-color: white; -webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #2196F3; }
input:focus + .slider {box-shadow: 0 0 1px #2196F3; }  
input:checked + .slider:before {content: "ON";-webkit-transform: translateX26px); -ms-transform:translateX(26px);transform: translateX(26px);  }
  

.ps-pump-status {padding:10px 0;}
.ps-pump-status p {margin:10px 0;font-size:16px;color:#000;}
.ps-energy-block {min-height: 200px;border: 1px solid #ccc; border-radius: 8px;text-align: center; vertical-align: middle;}
.ps-subhead {font-size: 24px;margin-bottom: 20px;}  